.home-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    min-width: 32rem;
    background: #ffffff;
    padding-bottom: 3rem;
}
.boxNote {
    width: 100%;
    display: flex;
    justify-content: center;
}
.alin-note {
    width: 100%;
    max-width: 100rem;
    margin: 10rem 2.3rem 2rem;
}
.title-home {
    font-size: 2rem;
    text-align: start;
    margin-bottom: 10px;
    margin-left: 2rem;
}
.note {
    max-width: 80rem;
    font-weight: 300;
    font-size: 2rem;
    color: rgb(68, 68, 68);
    user-select: none;
    margin-bottom: 10px;
    margin-left: 2rem;
    line-height: 3rem;
}
.note span {
    font-weight: bold;
}
.boxTitleManual {
    width: 100%;
    display: flex;
    justify-content: center;
}
.aling-title {
    width: 100%;
    max-width: 1000px;
    margin: 0 3rem
}
.titleManual {
    font-size: 1.5rem;
    color: #0E4A82;
    margin: 0rem 0rem 2rem 2rem;
    user-select: none;
}
.step-one-section p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}
.step-one-section figure img {
    width: 100%;
    border-radius: 1rem;
}
.step-two-description {
    font-size: 1.2rem;
}
.textGoTo {
    font-size: 1.2rem;
}
.linkToAlgebraix {
    color: #1960CA;
    margin-left: 0.5rem;
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}
.textInitsession {
    font-size: 1.2rem;
}
.loginAlgebraix, .closeAnun, .cambContra {
    margin-top: 1rem;
    width: 100%;
    object-fit: cover;
    border: 0.1rem solid rgba(80, 80, 80, 0.568);
}
@media(min-width: 500px) {
    .step-one-section p {
        max-width: 45rem;
        font-size: 2rem;
    }
    .step-two-description {
        font-size: 2rem;
    }
    .step-one-section {
        display: flex;
        justify-content: space-between;
    }
    .titleManual, .textGoTo, .linkToAlgebraix, .textInitsession {
        font-size: 2rem;
    }
    .textInitsession {
        padding-right: 2rem;
    }
    .sectionTree {
        display: flex;
        margin-top: 0;
    }
    .closeAnun, .cambContra {
        padding: 3rem;
        width: 50%;
        margin-top: 0;
    }
}