.navbar {
    width: 100%;
    min-width: 32rem;
    height: 10rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.4rem 7px rgba(0, 0, 0, 0.041);
}
.box-navbar {
    max-width: 1000px;
    width: 100%;
    margin: 0 3rem;
}
.imgLogo {
    width: 17rem;
    height: 5.5rem;
    pointer-events: none;
}