* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}
body::-webkit-scrollbar {
    width: 0.5rem;
}
body::-webkit-scrollbar-thumb {
    background: #1A66AC;
}